
.main-container{
	
	
}
	
html,body{
	background-color:rgb(255, 255, 255);
	
}
#logo{
	width:40px;
	height:40px;
}
#search::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  	color:rgb(240,240,240);
}
#search::-moz-placeholder { /* Firefox 19+ 3333333333 */
  color:rgb(240,240,240);
}
#search:-ms-input-placeholder { /* IE 10+ */
 	color:rgb(240,240,240);
}
#search:-moz-placeholder { /* Firefox 18 */
  	color:rgb(240,240,240);
}

#search1::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color:rgb(100,100,100) !important;
}
#search1::-moz-placeholder { /* Firefox 19+ 3333333333 */
color:rgb(100,100,100) !important;
}
#search1:-ms-input-placeholder { /* IE 10+ */
   color:rgb(100,100,100) !important;
}
#search1:-moz-placeholder { /* Firefox 18 */
	color:rgb(100,100,100) !important;
}
#search1{
	color:rgb(100,100,100) !important;
}
.navbar-nav a{
	padding:15px 10px;
	font-size:15px;
}
.profile-nav-li a{
	padding:12px 10px;
}
.navbar-nav1 a{
	float:left;
	padding:30px 20px !important;
	font-size:15px;
	height:82px;
	color:rgb(120,120,120) !important;
}
.login-btn{
	background:rgb(235,235,235);
	color:rgb(100,100,100);
}

.text-blue{
	color:#3897F0;
}
.f-14{
	font-size:14px !important;
}
.f-12{
	font-size:12px !important;
}
.navbar-nav1 a:hover{
	border-bottom:2px solid #3897F0;
	background:rgb(245,245,245) !important;
}

.activeC{
	border-bottom:1px solid #3897F0;
	background:rgb(245,245,245) !important;
}

.cat-nav a:hover{
	border-bottom:0px !important;
}

.z{
	z-index:1000;
}
.mySearch{
	height:29px;
	width:30%;
}
.links1 li{
	display:inline !important;
	list-style:none !important;
}
.mySearch1{
	width:100%;
}
.btn{
	border:1px solid #ced4da;
}
.myBtns{
	border:1px solid #007bff;
}
.myShadow:hover{
	box-shadow:0px 0px 1px 1px rgb(190,190,190);
}
.main-nav{
	background:#3897F0;
}
.myBorder{
 border-color:rgb(240,240,240) !important;
}

.navbar a:hover{
	background:rgb(80,80,80);
	transition:all 0.2s ease-in;
	color:white;
}
.navbar3 a:hover{
	background:rgb(248,248,248);
	transition:all 0.2s ease-in;
	color:#3897F0;
}
.navbar a{
	color:rgb(240,240,240);
	transition:all 0.2s ease-in;
}
.navbar .dropdown-menu a:hover{
	background-color:rgb(245,245,245) !important;
}

.stats{
	border:1px solid rgb(245,245,245);

}
.stats .up-do-arr{
	float:left;
	font-size:26px !important;
	height:26px;
	color:black ;
	margin-bottom:5px !important;
	margin-top:-5px !important;
}

.stats .up-do-arr svg{
	margin-top:0px;
	float:left;
	margin-left:13px !important;
	
}
.stats .up-do-arr:nth-child(2){
	margin-bottom:0px !important;
}
.stats .up-arr{
	margin-bottom:0px !important;
	font-size:22px !important;
	height:22px;
	margin-top:0px !important;
}

#total-votes{
	float:left;
}
.bg-grey{
	background:rgb(250,250,250);
}
.stats img{
	width:40px;
	height:40px;
	float:left;
	border-radius:50% !important;
}
.u-content img{
	width:32px;
	float:left;
	height:32px;
	border-radius:50%;
	margin-right:10%;
	padding:2px;
}

.btn-outline-primary.focus, .btn-outline-primary:focus{
	box-shadow:0px 0px 0px 0px;
	transition:all 0.2s ease-in;
	
}

.form-control:focus{
	outline:0px;
	box-shadow:0px 0px 0px 0px;
	transition:all 0.2s ease-in;
	border:1px solid rgb(200,200,200);
}
.mySearch{
background:rgb(245,245,245);
}
.nav-menu{
	margin-top:60px;
}
.myNav{
	margin-top:52px;
	padding:0px;
	border-bottom:1px solid gray;
	border-top:0px;
	box-shadow: 0 1px 2px #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
    background-color: #f5f5f5;
}
.myNav a{
	padding:12px 30px;
	font-size:15px;
	color:rgb(130,130,130);
}
.tags li a{
	padding:2px 10px !important;
	border-radius:3px;
	transition:all 0.1s ease-in;
	color:#6c757d!important;
}

.tags li{
	margin-left:0px !important;
	margin-right:5px !important;
}
.tags li a:hover{
	border:1px solid rgba(0, 123, 254,0.3);
	color:rgba(0, 123, 254,0.9) !important;
	transition:all 0.1s ease-in;
}
.sort-nav{
	border-bottom:0px;
	border-top:0px;
}
.sort-nav li{
	
	float:left;
}
.sort-nav li a{
	padding:0px 15px !important;
	
}
.sort-nav li a:hover{
	border-bottom:1px solid #3897F0;
	background:rgb(245,245,245) !important;
}
.boxes{
	border-radius:2px;
}

.transform1{
	transform:skew(-5deg,0deg);
}
.transform0{
	transform:skew(0deg,0deg) !important;
}
.q-content{
	width:71.4%;
	
	background:rgb(248, 248, 248);
	
	border:1px solid rgb(240,240,240);
	border-left:2px solid rgb(150,150,150);
	
}
.q2-content{
	background:rgb(255, 249, 248);
}
.l-content{
	width:52.6%;
}
.lesons-links{
width:20%;
}
.q-content h6 a{
	color:rgb(120,120,120);
	text-decoration:underline;
}
.q-content-desc{
	margin-top:-15px;
	
}
.u-content{
	width:78.3%;
}
.u-content .location{
	font-size:14px;
}
.a-content{
	background:rgb(248, 255, 248);
}
.c-content{
	width:65%;
	background:rgb(255, 255, 248);
}
.c-content p{
	font-size:12px;
}
.c-content img{
	width:20px;
	height:20px;
	
}
.q-content p,.stats p{
	font-size:14px;
}

.stats{
	height:50px;
	width:50px;
}
.img-div{
	width:35px;
	height:35px;
}
.stats-full-post{
	height:80px;
}

.stat-ul li{
	display:inline;
	
	background:rgba(255,255,255,0.8);
	padding:3px 10px;
	
}
.black-shadow{
	box-shadow:0px 0px 1px 1px rgb(170,170,170);
}

.stat-ul li:nth-child(2){
	padding:3px 25px 3px 10px;
	
	border-left:1px solid rgb(210,210,210);
	border-top:1px solid rgb(210,210,210);
}
.myPagination ul li{
	margin-left:20px;
	
}


.disabled{
	border:1px solid rgb(230,230,230) !important;
	
}
.myPagination ul li a{
	color:rgb(100,100,100) ;
	background:rgb(240, 240, 240);
	
}
.myPagination ul li a:hover{
	background:rgb(235, 235, 235) !important;
	border:1px solid rgba(0, 123, 254,0.3);
}


.stat-ul li:first-child{
	border-top-left-radius:5px;
}
.stat-ul{
	z-index:-1 !important;
}
.stat-ul2 li:first-child{
	padding:3px 10px 3px 25px;
	border-radius:0px;
	border-top:1px solid rgb(210,210,210);
}
.stat-ul2 li:nth-child(2){
	padding:3px 10px;
	border-top-right-radius:5px;
	
	border-top:0px;
}
.z-indexnegative{
	z-index:-1;
}
.z-indexpositive{
	z-index:1000 !important;
}
#results{
	margin-top:28px;
	width:179px;
	

}
#results li{
	list-style:none !important;
}

.follow-btn{
	margin-top:75px;
}
.stat-ul li p{
	font-size:12px;
	padding:0px;
	margin:0px;
}
.follow-unfollow li a{
	width:91px;
	text-align:center;
}
.myBorderColor{
	border:1px solid rgb(230,230,230);
}
.myBorderTB{
	border-bottom:1px solid rgb(240,240,240);
	border-top:1px solid rgb(240,240,240);
}
.myBorderT{
	border-top:1px solid rgb(240,240,240);
}
.myBorderLR{
	border-left:1px solid rgb(240,240,240);
	border-right:1px solid rgb(240,240,240);
}
.border2{
	border:1px solid rgb(240,240,240);
}
.vote-stat{
	margin-top:80px;
	margin-left:170px;
}
.cr-button:hover, .cr-button:focus{
	color:rgb(100,100,100) !important;
	border:1px solid rgb(160,160,160) !important;
	background-color:rgb(0,0,230) !important;
}
.cr-button{
	border:1px solid rgba(0, 123, 254,0.3) !important;
	color: rgba(0, 123, 254,0.7) !important;
}
.edit-btn{
	float:left;
	padding-top:0px;
	padding-bottom:0px;
	border:1px solid rgb(240,240,240);
	border-top:0px;
}
.del-btn{
	float:left;
	padding-top:0px;
	padding-bottom:0px;
	border:1px solid rgb(240,240,240);
	border-top:0px;
}
.edit-btn1{
	float:left;
	padding-top:0px;
	padding-bottom:0px;
	border:1px solid rgb(240,240,240);
	border-top:0px;
}
.del-btn1{
	margin-top:-50px;
	float:left;
	padding-top:0px;
	padding-bottom:0px;
	border:1px solid rgb(240,240,240);
	border-top:0px;
}
.edit-del{
	float:left;
	margin-top:-8px;
}
.edit-del-nav{
	width:100px;
}
.q-title-input{
	padding-left:20px ;
	padding-right:20px;
}
.tags a{
	background:rgb(240,240,240);
	font-size:14px;
}
.mySpan{
	padding-bottom:7px;
}

.profile-img{
	margin-left:-5%;
	width:120px;
	height:120px;
	background:white;
	z-index:10000;
	border-left:1px solid rgb(255,255,255) !important;
	border-right:1px solid rgb(255,255,255) !important;
}
.profile-img2{
	margin-left:-5%;
	width:120px;
	height:120px;
	background:white;
	z-index:10000;
	
	border-left:1px solid #f8f9fa  !important;
	border-right:1px solid #f8f9fa !important;
}
.p-img3{
	width:80px;
	margin-left:0px !important;
	height:80px;
}
.les-vid-ul li{
	list-style:none;
}
#navbarDropdown{
	color:#f8f9fa ;
}

.small-navbar {
	display:none !important;
}
.navbar2{
	  display:none !important;
  }
 .trophies-ul{
	 margin-top:2px;
	 margin-right:1px;
	 right:0px;
 }
 .trophies-ul li{
	 padding:10px 10px !important;
	 border-radius:0px !important ;
	  box-shadow:0px 0px 0px 0px;
	 
 }

  .trophies-ul li i{
	  font-size:100px !important;
	  color:yellow !important;
  }
 .login-form input{
	 padding:5px 15px !important;
 }
 .c-desc{
	 height:90px;
 }
 .rgba-white{
	 background:rgba(250,250,250,0.9) !important;
 }
 .courses img{
	 width:100px;
	 height:150px;
 }
 .user-pic{
	 width:24px !important;
	 height:24px !important;
 }
 
 .user-box img{
	 width:45px;
	 height:45px;
 }
 

 .ic-title{
	 font-size:100px !important;
 }

@media (max-width: 768px) {
	.navbar2{
	  display:block;
  }
  .navbar1,.navbar3{
	  display:none !important;
  }
  .mySearch{
	  display:none;
  }
  

}
.correct-color{
	color:rgb(0, 123, 254) !important;
	
}	

.correct-color1{
	color:gray !important;
}	

.about-image{
	width:150px;
	height:150px;		
}
.dotte{
	border-right:1px dotted black !important;
	border-bottom:1px dotted black !important;padding: 20px;
}
.dote1{
	border-bottom:1px dotted black !important;padding:20px 100px;
}
.dote2{
	border-bottom:1px solid rgb(220, 220, 220) !important;padding:5px;

}
.dote3{
	border-bottom:1px dotted black !important;
}

.tags li{
	list-style:none !important;
}

.all-stats-ul li{
  list-style:none !important;
}


.footer{
	padding:0px;
	position:absolute !important;
	float:left;
	
	width:100%;
	
}

.footer1 img{
width:50px;
height:50px;
}

.list-style-none{
	list-style:none;
}

.socials{
	display:inline;
}
.socials li{
	display:inline;
	
}
.socials li i{
	font-size:40px !important;
}
.c-logo{
	font-size:60px !important;
	color:rgb(236,236,236) !important;
}

.profile-sm-img{
	width:28px;
	height:28px;
	border:1px solid gray !important;
	padding:2px;
}
.c-img{
	width:100%;
	height:145px;
}

.dropdown-menu{
	width:380px;
	border-radius:0px !important;
	overflow-y:auto !important;
	height:380px;
	overflow-x:hidden !important;
	box-shadow:0px 2px 1px 1px rgb(210,210,210);
	margin-top:-1px;
}

.dropdown-menu1{
	width:260px;
	height:320px ;
}

.dropdown-menu2{
	width:200px !important;
	height:auto !important;
}


.sm-pic{
	width:24px;
	height:24px;
}

.l-h{
	line-height:15px;
}

.stat1-ul li{
	list-style:none;
}
.f-content{
	background:rgb(255,255,255) !important;
	border:0px;
}

.profile-pic2{
	width:30px;
	height:30px;
}

.home-stats li{
 list-style:none !important;
display:inline;
}